# Test Report

 -> 2025-09-30 20:04:43
✅ Tests correctos
1.50 segundos
Tests pasados: 1

 -> 2025-10-02 07:44:08
![CI con AutoCommit](https://github.com/sdurutr436/DE-2526_DAW_u1_action-SDUDAW/actions/workflows/ci.yaml/badge.svg) Tests correctos
0.49 segundos
Tests pasados: 1

